.zlecenia {
  display: flex;
  flex-direction: column;
  margin: 1rem;

  &__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    &Input {
      width: calc(80% - 1rem);
      height: 2rem;
      margin-right: 1rem;
      font-size: 1rem;
    }
    &Btn {
      margin: 0;
      width: 20%;
    }
  }
}
